<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens Node.Js</title>
</head>
<style>
    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        background-color: #f1f1f1;
        justify-items: center;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    form{
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
</style>
<body>
    {{{body}}}

</body>
</html>