<form action="/add" method="POST">
    <style>
        form{
            justify-items: center;
            align-items: center;
        }
    </style>
    <p>Titulo</p>
    <input type="text" name="titulo">

    <p>Conteudo</p>
    <textarea name="conteudo"></textarea><br>
    <button type="submit">Cadastrar Postagem</button>
</form>